
@{
    ViewBag.Title = "Cari";

    var u = ViewBag.AktifCariKart;
    KULLANVIEW k = ViewBag.AktifUser;
    var secilentip = Context.Session.GetInt32("SecilenTip");
}

@model List<CARIHAR>

@{
    void yaz(decimal? v)
    {
        if (v.HasValue)
        {
            Write(v.Value.ToString("N2").Replace(",", "."));
        }
        else
        {
            Write("0.00");
        }
    }
}

@section head{

    <style>
        #aramaSonuc {
        }
    </style>
}
<div class="row">
    @if (k.CARIARAMA == true)
    {
        <div class="col-xl-12 p-2">
            <div class="d-flex align-items-stretch text-center flex-column">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white border-0 py-7 px-8">
                            <span class="svg-icon svg-icon-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                            </span>
                        </span>
                    </div>
                    <input type="text" id="aramaBox" class="form-control h-auto border-0 py-7 px-1 font-size-h6" placeholder="Ara" />
                </div>
            </div>
            <div class="aramaSonuc" style=" max-height:300px; overflow:scroll"></div>
        </div>
    }
</div>

<div class="row">
    <div class="col-sm-12 col-lg-4 col-xl-4 col-xxl-4">
        @await Component.InvokeAsync("Cari")
    </div>
    <div class="col-sm-12 col-lg-8 col-xl-8 col-xxl-8">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header border-0 ">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">Cari Hareket</span>
                </h3>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                        <thead>
                            <tr class="text-left">
                                <th class="pr-0" style="min-width: 50px">Fis No</th>
                                <th class="pr-0" style="min-width: 100px">Fis Tipi</th>
                                <th class="pr-0" style="min-width: 80px">Tarih</th>
                                <th class="pr-0" style="min-width: 30px">Tip</th>
                                <th class="pr-0" style="min-width: 60px">Borç</th>
                                <th class="pr-0" style="min-width: 60px">Alacak</th>
                                <th class="pr-0 text-right" style="min-width: 90px">Acıklama</th>
                                <th class="pr-0" style="min-width: 50px">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="pl-0">@item.FISNO</td>
                                    <td class="pl-0">@item.FISTIPI</td>
                                    <td class="pl-0">@item.TARIH.Value.ToShortDateString()</td>
                                    <td class="pl-0">@item.TP</td>
                                    <td class="pl-0">@{yaz(item.BORC);}</td>
                                    <td class="pl-0">@{yaz(item.ALACAK);}</td>
                                    <td class="pl-0 text-right">@item.ACIKLAMA</td>
                                    <td class="pl-0">
                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-info btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="ki ki-bold-more-ver"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                @if (item.FISTIPI == "11-Borc Dekontu")
                                                {
                                                    <a class="dropdown-item btnHareketDetay" data-target="#HareketDetay" data-toggle="modal" data-id="@item.ID">&nbsp;&nbsp;Detay&nbsp;&nbsp; </a>
                                                    @if (k.FATURA == true)
                                                    {
                                                        <a class="dropdown-item" href="/Document/MakbuzRapor/@item.ID">&nbsp;&nbsp;Makbuz&nbsp;&nbsp;</a>
                                                        <a class="dropdown-item" href="/Document/Indir?id=@item.ID&faturatipi=Makbuz">&nbsp;&nbsp;İndir&nbsp;&nbsp; </a>
                                                    }
                                                }
                                                else if (item.FISTIPI == "11-Karttan Tahsilat" || item.FISTIPI == "11-Nakit Tahsilat" || item.FISTIPI == "41-Alacak Dekontu")
                                                {
                                                    <a class="dropdown-item" href="/Document/TahsilatRapor/@item.ID">&nbsp;&nbsp;Makbuz&nbsp;&nbsp;</a>
                                                    <a class="dropdown-item" href="/Document/Indir?id=@item.ID&faturatipi=Tahsilat">&nbsp;&nbsp;İndir&nbsp;&nbsp; </a>
                                                }
                                                <a class="dropdown-item btnCariHarSil" data-id="@item.ID">&nbsp;&nbsp;Sil&nbsp;&nbsp; </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

</div>


<div class="modal" id="HareketDetay" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cari Hareket Detayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="kt_header_mobile" class="header-mobile align-items-center  header-mobile-fixed ">
                    <div class="d-flex align-items-center">
                        <a href="/Era/CikisYap" class="mr-7">
                            Çıkış Yap
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
                            <span></span>
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column flex-root">
                    <div class="d-flex flex-row flex-column-fluid page">
                        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                            <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
                                <div class="d-flex flex-column-fluid">
                                    <div class=" container ">
                                        <div class="card card-custom">
                                            <div class="card-body">
                                                <div class="table-responsive hareketDetay" style="max-height:300px;overflow:scroll">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Tamam</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var aktifSiparis;
        $(".btnHareketDetay").click(function () {
            var id = $(this).data("id");
            $.get("/Fatura/HareketDetay/" + id, function (res) {
                $(".hareketDetay").html(res);
            });

        });
    </script>
    <script>
        var sayacDef = 10;
        var sayac = sayacDef;

        var basladi = false;
        var aramaQuery = "";
        $("#aramaBox").keyup(function () {
            var a = $(this).val();
            aramaQuery = "/Cari/CariArama?arama=" + a;

            if (sayac == sayacDef)
                say();
            sayac = sayacDef;
        });
        function say() {
            sayac--;
            if (sayac <= 0) {

                sayac = sayacDef;
                $.ajax({
                    url: aramaQuery,
                    type: "GET",
                    success: function (res) {
                        var sonucDiv = $(".aramaSonuc");
                        sonucDiv.html(res);
                    }
                });
            }
            else {
                setTimeout(function () {
                    say();
                }, 100);
            }
        }

        $(".cariSec").click(function () {
            alert("aa");
        });

    </script>
    <script>
        var seciliKasa;
        function kasaSec(id, adi) {
            seciliKasa = id;
            $(".drpKasa").html(adi);
        }
        var seciliBanka;
        function bankaSec(id, adi) {
            seciliBanka = id;
            $(".drpBanka").html(adi);
        }
        var seciliTip;
        function TipSec(id, adi) {
            seciliTip = id;
            $(".drpTip").html(adi);
        }
        var seciliCSTip;
        function CSSec(adi) {
            seciliCSTip = adi;
            $(".drpCSTip").html(adi);
        }
        $(".btnnakit").click(function () {
            var nakit = $("#txtnakit").val();
            var aciklama = $("#txtAciklamaND").val();
            $.get("/Cari/TPSecim?SeciliTip=" + seciliTip, function (res) {
                $.get("/Cari/nakitTahsilat?nakit=" + nakit + "&kasa=" + seciliKasa + "&aciklama=" + aciklama, function (res) {
                    location.reload();
                });
            });
        });
        $(".btnOdmnakit").click(function () {
            var nakit = $("#txtOdmnakit").val();
            var aciklama = $("#txtAciklamaND").val();
            $.get("/Cari/TPSecim?SeciliTip=" + seciliTip, function (res) {
                $.get("/Cari/nakitOdeme?nakit=" + nakit + "&kasa=" + seciliKasa + "&aciklama=" + aciklama, function (res) {
                    location.reload();
                });
            });
        });
        $(".btnkart").click(function () {
            var nakit = $("#txtkart").val();
            var aciklama = $("#txtAciklamaKT").val();
            $.get("/Cari/TPSecim?SeciliTip=" + seciliTip, function (res) {
                $.get("/Cari/kartTahsilat?nakit=" + nakit + "&banka=" + seciliBanka + "&aciklama=" + aciklama, function (res) {
                    location.reload();
                });
            });
        });
        $(".btnOdmkart").click(function () {
            var nakit = $("#txtOdmkart").val();
            var aciklama = $("#txtAciklamaKD").val();
            $.get("/Cari/TPSecim?SeciliTip=" + seciliTip, function (res) {
                $.get("/Cari/kartOdeme?nakit=" + nakit + "&banka=" + seciliBanka + "&aciklama=" + aciklama, function (res) {
                    location.reload();
                });
            });
        });
        $(".btnceksenet").click(function () {
            var ceknakit = $("#txtcek").val();
            var tarih = $("#tarih").val();
            var vade = $("#kt_datepicker_3").val();
            var borclu = $("#txtBorclu").val();
            var serino = $("#txtSeriNo").val();
            var keside = $("#txtKeside").val();
            var aciklama = $("#txtAciklama").val();
            $.get("/Cari/TPSecim?SeciliTip=" + seciliTip, function (res) {
                $.get("/Cari/ceksenetTahsilat?ceknakit=" + ceknakit + "&banka=" + seciliBanka + "&seciliCSTip=" + seciliCSTip + "&vade=" + vade + "&borclu=" + borclu + "&serino=" + serino + "&keside=" + keside + "&aciklama=" + aciklama, function (res) {
                    location.reload();
                });
            });
        });
        $(".btnCariHarSil").click(function () {
            var id = $(this).data("id");
            $.get("/Cari/CariHarSil?id=" + id, function (res) {
                location.reload();
            });
        });
    </script>
}
